@font-face {
  font-family: "PressStart2P";
  src: url(5f45b52192a301cb8ccd.ttf);
}

html,
body {
  background-color: #272b30;
  margin: 0;
}

#github {
  position: absolute;
  top: 0;
  right: 0;
}

#canvas {
  max-width: 500px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#loaderContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  border: 8px solid #f3f3f3; 
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

