@font-face {
  font-family: "PressStart2P";
  src: url("./assets/fonts/PressStart2P-Regular.ttf");
}

html,
body {
  background-color: #272b30;
  margin: 0;
}

#github {
  position: absolute;
  top: 0;
  right: 0;
}

#canvas {
  max-width: 500px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
